/* Seth Anderson's portfolio stylesheet*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
  list-style: none;
  max-width: 1170;
  overflow-x: hidden;
}

header {
  width: 100%;
  padding: 1.2rem;
  background-color: #000;
  overflow-y: hidden;
}

a {
  color: #fff;
}

.list_title {
  color: #fff;
  display: inline-block;
  font-size: 2rem;
  margin-right: 3.125rem;
  top: -0.625rem;
}

.projects_link {
  display: inline-block;
  margin-right: 0.625rem;
  color: #fff;
}

.about_link {
  display: inline-block;
  color: #fff;
}

.contact_link {
  display: inline-block;
  margin-left: 0.625rem;
  color: #fff;
}

.github_link {
  color: #fff;
  display: inline-block;
  margin-left: 60%;
  margin-right: 1.2rem;
}

.github_logo {
  display: inline-block;
  position: relative;
  
}

a:visited {
  color: #fff;
}

h1 {
  text-align: center;
  margin-top: 3.125rem;
  margin-bottom: 1.25rem;
}

.my_photo {
  text-align: center;
  border-radius: 50%;
}

.intro {
  text-align: center;
  margin-bottom: 3.125rem;
  font-size: 1.1rem;
}

.project_showcase {
  background-color: #000;
  color: #fff;
  width: 100%;
  padding-bottom: 1.25rem;
  
}

.projects_header {
  text-align: center;
  border-bottom: 0.3125rem solid #000;
  width: 100%;
  font-size: 2rem;
  margin-bottom: 3.125rem;
}

.table {
  position: relative;
 padding-left: 25%;
  padding-bottom: 6.25rem;
}



th {
  background-color: #fff;
  color: #000;
  font-size: 1.2rem;
  padding: 0.3125rem;
}

td {
  padding: 0.3125rem;
  text-align: center;
}

main ~ a {
  text-decoration: underline;
}

.lessons {
  text-align: center;
  font-size: 2rem;
  margin-top: -1.25rem;
}

.lessons_list {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 1.25rem;
}

.about_me {
  text-align: center;
  margin-bottom: 3.125rem;
  font-size: 2rem;
}

.about_me_info {
  font-size: 1.2rem;
  padding-bottom: 3.125rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.contact_container {
  background-color: #000;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  padding: 0.625rem;
}

.contact {
  text-align: center;
  font-size: 2rem;
}

legend {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.submit {
  border-radius: 15%;
}

input {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  font-weight: bold;
  font-size: 1.2rem;
}

textarea {
  width: 500px;
}
